In [1]:
import seaborn as sns
import pandas as pd
import numpy as np

#  Dataset product

## Načítanie dát

In [2]:
filename = "data/product.csv"
products = pd.read_csv(filename, sep='\t')
products.head()

       store_name code    product_ean             location
0       Wesseling   DE  5727688778933        Europe/Berlin
1          Maasin   PH  7792555455079          Asia/Manila
2      Mexborough   GB  6118743003999        Europe/London
3          Exeter   GB  9657499361696        Europe/London
4  Ambatondrazaka   MG  2821295500598  Indian/Antananarivo

## Opis dát a charakteristiky

V datasete je 14925 záznamov o produktoch a obchodoch v ktorých tieto produkty sú.

Počet jednotlivých atribútov v datasete : 4

Atribúty v datasete:
* store_name -  názov obchodu
* code - kód krajiny
* product_ean - číslo produktu
* location - lokácia obchodu

In [3]:
len(products)

14925

In [4]:
len(products.columns)

4

In [5]:
products.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14925 entries, 0 to 14924
Data columns (total 4 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   store_name   14925 non-null  object
 1   code         14909 non-null  object
 2   product_ean  14925 non-null  int64
 3   location     14925 non-null  object
dtypes: int64(1), object(3)
memory usage: 466.5+ KB

## Problémy s dátami

### Ošetrenie duplikátov

In [6]:
duplicates = products[products.duplicated()]
products = products.drop_duplicates()
print("Počet zaznamov v datasete " +str(len(products)))
print("V datasete je " + str(len(duplicates)) + " duplikatov.")

Počet zaznamov v datasete 14925
V datasete je 0 duplikatov.

# TODO: 

(neviem ci to je podstatne, ale je to aspon nieco co by tam mohlo byt)

V stlpci Code je 'nan', po vyprintovani casti kde je code 'nan' je to len jedna lokacia Africa/Windhoek, 

co je v namibii, teda treba nahradit code NaN s kodom namibie, co je 'NA'

In [7]:
products.code.unique()

array(['DE', 'PH', 'GB', 'MG', 'TR', 'US', 'CN', 'MY', 'FR', 'BR', 'IN',
       'RU', 'JP', 'TW', 'SO', 'DZ', 'ME', 'IR', 'AR', 'CO', 'ES', 'ID',
       'HT', 'RE', 'TZ', 'IT', 'BE', 'MX', 'CZ', 'ET', 'BW', 'MA', 'AD',
       'AT', 'FI', 'CA', 'UA', 'DJ', 'EG', 'NL', 'PG', 'KR', 'BG', 'AU',
       'PK', 'ZA', 'YE', 'NE', 'TN', 'MW', 'SL', 'XK', 'EC', 'HN', 'GM',
       'LT', 'AM', 'SY', 'LK', 'PT', 'IL', 'CL', 'CI', 'VE', 'PL', 'KG',
       'BY', 'CD', 'NG', 'CF', 'UZ', 'CM', 'SE', 'VN', 'MK', 'MM', 'TH',
       'BD', 'KZ', 'CU', 'LR', 'VU', 'GA', 'SV', 'BO', 'HK', 'PE', 'GH',
       'CR', 'PR', 'BJ', 'AO', 'IE', 'UG', 'CH', 'AF', 'DK', 'SD', 'KE',
       'SK', 'NI', 'TT', 'PA', 'GE', 'IQ', nan, 'RS', 'JM', 'NZ', 'GN',
       'PS', 'UY', 'NO', 'MN', 'BA', 'RO', 'TL', 'MQ', 'AZ', 'ML', 'TJ',
       'SA', 'EE', 'GT', 'DO', 'LY', 'MZ', 'KH', 'MT', 'TD', 'CG', 'MD',
       'RW', 'HR'], dtype=object)

In [8]:
products[products['code'].isna()]

      store_name code    product_ean         location
826    Okahandja  NaN  9164924668355  Africa/Windhoek
2362   Okahandja  NaN   352554940296  Africa/Windhoek
3037   Okahandja  NaN  7912182790033  Africa/Windhoek
5344   Okahandja  NaN  1870174177681  Africa/Windhoek
7486   Okahandja  NaN  3880116873791  Africa/Windhoek
7585   Okahandja  NaN  7640043315957  Africa/Windhoek
7692   Okahandja  NaN  8239958927677  Africa/Windhoek
9092   Okahandja  NaN  2489565247385  Africa/Windhoek
9916   Okahandja  NaN  5416228186191  Africa/Windhoek
11317  Okahandja  NaN  2237295740924  Africa/Windhoek
11701  Okahandja  NaN  5253828636615  Africa/Windhoek
13855  Okahandja  NaN  5851607616157  Africa/Windhoek
13918  Okahandja  NaN  6871588587047  Africa/Windhoek
13931  Okahandja  NaN   930724761706  Africa/Windhoek
14328  Okahandja  NaN  8015853115513  Africa/Windhoek
14348  Okahandja  NaN  3965207997195  Africa/Windhoek

# Dataset Session

## Načítanie dát

In [9]:
filename2 = "data/session.csv"
sessions = pd.read_csv(filename2, sep='\t')
sessions.head()

,session_duration,wild_mouse_duration,pct_scroll_move,screen_width,product_ean,pct_doubleclick,browser_name,user_id,pct_mouse_click,pct_mouse_move,...,session_start,session_id,screen_height,pct_input,pct_scrandom,pct_rage_click,ack,pct_scroll_move_duration,pct_click,total_load_time
0,236.88961,10.28554,36.92911,800,2193503010008,10.53409,chrome,599,9.97809,12.85887,...,2022-06-24 21:55:59,677722,600,2.74293,26.14710,37.19953,1.0,5.89457,5.00618,4.86191
1,179.46887,8.98334,33.83344,1366,4929043671489,11.15279,edge,122,9.40106,9.93977,...,2022-06-28 17:14:01,479845,800,0.73180,46.96177,43.10016,0.0,8.59232,11.57778,6.40590
2,196.84071,9.47269,40.03141,1280,2067448433744,8.25461,firefox,2125,10.38927,11.58422,...,2021-11-20 14:18:53,928245,800,1.24545,43.17029,63.05060,1.0,6.55668,3.61231,6.31409
3,217.18923,11.65075,60.43237,1280,3783288205219,9.77124,chrome,1004,9.83475,12.80934,...,2023-05-24 17:04:14,1021136,1024,10.81056,53.95914,32.19738,0.0,7.23594,4.16841,1.57854
4,116.79281,8.46519,67.11029,1024,3142410160312,10.12802,edge,1481,11.76333,12.42584,...,2019-04-03 19:31:56,797259,768,0.46350,49.41581,15.73448,0.0,8.35696,7.89278,5.10701

## Opis dát a charakteristiky

V datasete je 11056 záznamov o jednotlivých sedeniach zákazníkov.

Počet jednotlivých atribútov v datasete : 25

Atribúty v datasete:
* session_duration - dĺžka sedenia
* wild_mouse_duration - trvanie rýchleho pohybu myši
* pct_scroll_move - záznamy o rolovaní
* screen_width - šírka obrazovky
* product_ean - číslo produktu
* pct_doubleclick - záznamy o dvojitom kliknutí používateľa
* browser_name - názov prehliadača
* user_id - id používateľa
* **pct_mouse_click** - záznamy o klikaní používateľa
* pct_mouse_move - záznamy o pohybe myši
* pct_wild_mouse - záznamy o rýchlom pohybe myši
* pct_click_product_info - záznamy o klikaní na informácie produktu
*  **mouse_move_total_rel_distance** -??
* **scroll_move_total_rel_distance** - ??
* page_activity_duration - čas strávený na jednej stránke
* session_start - začiatok sedenia
* session_id - id sedenia
* screen_height - výška obrazovky
* pct_input - záznamy o zadávaní vstupov používateľom
* pct_scrandom - záznamy o rýchlom presúvaní na stránke
* pct_rage_click - záznamy o zúrivom kliknutí na stránke
* ack - nákup zákazníka
* pct_scroll_move_duration - normonovaná hodnota na celkový čas rolovania
* **pct_click** - záznamy o klikaní používateľa
* total_load_time - celkový čas načítavania

In [10]:
sessions.describe()

,session_duration,wild_mouse_duration,pct_scroll_move,product_ean,pct_doubleclick,user_id,pct_mouse_click,pct_mouse_move,pct_wild_mouse,pct_click_product_info,...,scroll_move_total_rel_distance,page_activity_duration,session_id,pct_input,pct_scrandom,pct_rage_click,ack,pct_scroll_move_duration,pct_click,total_load_time
count,11056.000000,11045.000000,11044.000000,1.105600e+04,11045.000000,11056.000000,11043.000000,11045.000000,11044.000000,11045.000000,...,11045.000000,11045.000000,1.105600e+04,11045.000000,11045.000000,11045.000000,11056.000000,11045.000000,11045.000000,11056.000000
mean,151.265740,9.789469,48.704947,4.985206e+12,10.704692,1250.041606,9.782817,11.480193,48.781600,50.826365,...,8.107525,9.799071,7.410726e+05,2.741457,45.150497,46.039472,0.547033,9.817508,9.528577,3.973645
std,60.034700,0.984515,12.797387,2.914257e+12,1.989404,726.092591,0.993017,1.267582,12.649957,13.439798,...,1.357931,2.100532,4.316535e+05,3.609760,12.862476,12.335309,0.497805,2.214587,2.418114,2.787884
min,-68.356750,6.382620,0.000000,5.141760e+07,3.033820,0.000000,6.321670,5.786290,0.000000,0.000000,...,2.946530,3.249020,1.028000e+03,0.000000,0.000000,0.000000,0.000000,3.258890,0.000000,0.016440
25%,111.358155,9.124430,40.150343,2.378999e+12,9.531260,610.000000,9.117960,10.671230,40.479845,41.580860,...,7.192030,8.120790,3.661730e+05,0.857680,36.310970,37.940730,0.000000,8.056040,7.649230,1.914967
50%,150.418510,9.777010,48.567095,5.024825e+12,11.004160,1261.000000,9.782200,11.480920,48.682945,50.918040,...,8.114080,9.832000,7.409380e+05,1.647470,44.937080,46.028870,1.000000,9.445040,10.344390,3.358435
75%,191.829868,10.451130,57.313102,7.536608e+12,12.102000,1879.000000,10.445040,12.298310,57.217623,59.985460,...,9.023410,11.492340,1.110756e+06,3.253700,53.666370,54.279400,1.000000,11.484610,11.415770,5.359550
max,380.352810,13.872120,100.000000,9.996525e+12,16.495640,2499.000000,13.752930,16.993550,100.000000,100.000000,...,13.005680,16.775090,1.499995e+06,100.000000,100.000000,100.000000,1.000000,17.165130,15.448980,24.872660

In [11]:
len(sessions)

11056

In [12]:
len(sessions.columns)

25

In [13]:
sessions.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11056 entries, 0 to 11055
Data columns (total 25 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   session_duration                11056 non-null  float64
 1   wild_mouse_duration             11045 non-null  float64
 2   pct_scroll_move                 11044 non-null  float64
 3   screen_width                    11056 non-null  object
 4   product_ean                     11056 non-null  int64
 5   pct_doubleclick                 11045 non-null  float64
 6   browser_name                    11056 non-null  object
 7   user_id                         11056 non-null  int64
 8   pct_mouse_click                 11043 non-null  float64
 9   pct_mouse_move                  11045 non-null  float64
 10  pct_wild_mouse                  11044 non-null  float64
 11  pct_click_product_info          11045 non-null  float64
 12  mouse_move_total_rel_distance   11045 non-null  float64
 13  scroll_move_total_rel_distance  11045 non-null  float64
 14  page_activity_duration          11045 non-null  float64
 15  session_start                   11056 non-null  object
 16  session_id                      11056 non-null  int64
 17  screen_height                   11056 non-null  object
 18  pct_input                       11045 non-null  float64
 19  pct_scrandom                    11045 non-null  float64
 20  pct_rage_click                  11045 non-null  float64
 21  ack                             11056 non-null  float64
 22  pct_scroll_move_duration        11045 non-null  float64
 23  pct_click                       11045 non-null  float64
 24  total_load_time                 11056 non-null  float64
dtypes: float64(18), int64(3), object(4)
memory usage: 2.1+ MB

## Problémy s dátami

### Ošetrenie duplikátov

In [14]:
duplicates = sessions[sessions.duplicated()]
sessions = sessions.drop_duplicates()
print("Počet zaznamov v datasete " +str(len(sessions)))
print("V datasete je " + str(len(duplicates)) + " duplikatov.")

Počet zaznamov v datasete 10925
V datasete je 131 duplikatov.

# Dataset users

In [15]:
filename3="data/user.csv"
users = pd.read_csv(filename3, sep='\t')
users.head()

,residence,registration,user_id,mail,sex,username,birthdate,name,job,race,address
0,NaN,"09/20/2014, 00:00:00",593,ianalves@bol.com.br,M,almeidaluna,NaN,Sr. Diego da Cruz,NaN,NaN,Via de Barros\r\nSanto Agostinho\r\n68921830 S...
1,NaN,2019-11-05,1430,franciscorezende@ig.com.br,F,maria-juliasilveira,NaN,Isabel Ramos,Jóquei,black,"Passarela Joaquim Aragão, 58\r\nUniversitário\..."
2,NaN,2015-06-24,1557,wieklisa@googlemail.com,NaN,timo30,NaN,Siegbert Benthin,Chirurgiemechaniker,NaN,Wilmsenplatz 98\r\n61933 Riesa
3,滋賀県三鷹市丸の内1丁目21番5号 台場アーバン622,21 May 2019,1890,kyosuke54@yahoo.com,NaN,yoichisato,1990-08-13,阿部 明美,アイドル,NaN,富山県富里市鶴ヶ丘41丁目18番17号
4,"Lagoa Rodrigues, 206\r\nHorto\r\n91399325 Lima...",2014/05/22,1487,maria-ceciliaalmeida@uol.com.br,F,caldeiralavinia,NaN,Larissa Pires,Eletricista,NaN,"Praça de Nogueira, 33\r\nDom Silverio\r\n14934..."

## Opis dát a charakteristiky

V datasete je 2575 záznamov o samotných používateľoch.

Počet jednotlivých atribútov v datasete : 11

Atribúty v datasete:
* residence - rezidencia používateľa
* registration - dátum registrácie používateľa
* user_id - id používateľa
* mail - email používateĺa
* sex - pohlavie používateľa
* username - používateľske meno 
* birthdate - dátum narodenia používateĺa
* name - meno a priezvisko používateľa
* job - zamestnanie používateľa
* race - rasa používateľa
* address - adresa používateľa

In [16]:
users.describe()

           user_id
count  2575.000000
mean   1282.372427
std     735.119778
min       2.000000
25%     657.500000
50%    1291.000000
75%    1917.500000
max    2572.000000

In [17]:
len(users)

2575

In [18]:
len(users.columns)

11

In [19]:
users.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2575 entries, 0 to 2574
Data columns (total 11 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   residence     901 non-null    object
 1   registration  2575 non-null   object
 2   user_id       2575 non-null   int64
 3   mail          2575 non-null   object
 4   sex           1287 non-null   object
 5   username      2575 non-null   object
 6   birthdate     1416 non-null   object
 7   name          2575 non-null   object
 8   job           1030 non-null   object
 9   race          773 non-null    object
 10  address       2189 non-null   object
dtypes: int64(1), object(10)
memory usage: 221.4+ KB

## Problémy s dátami

### Ošetrenie duplikátov

In [20]:
duplicates = users[users.duplicated()]
users = users.drop_duplicates()
print("Počet zaznamov v datasete " +str(len(users)))
print("V datasete je " + str(len(duplicates)) + " duplikatov.")

Počet zaznamov v datasete 2575
V datasete je 0 duplikatov.

# TODO

Upravit stlpec registration do jednotneho formatu